body{
    background-color: hsl(0, 0%, 95%);
    font-size: 15px;
    min-height: 100vh;
    display: flex;
    align-items: center;
    font-weight: 400;
}

.main-container{
    max-width: 960px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

h2{
    font: hsl(0, 0%, 95%);
    text-transform: uppercase;
    font-size: 30px;
}

p{
    color: hsla(0, 0%, 100%, 0.75);
}

#card-1{
    background-color: hsl(31, 77%, 52%);
    padding: 40px;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;

}

#card-2{
    background-color:  hsl(184, 100%, 22%);
    padding: 40px;
}

#card-3{
    background-color: hsl(179, 100%, 13%);
    padding: 40px;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;;
}


.cards{
    line-height: 1.6;
}


.cards a{
    background-color: hsl(0, 0%, 95%);
    text-decoration: none;
    padding: 13px 17px;
    border-radius: 25px;
    margin-top: 60px;
    display: inline-block;
    border: 2px solid hsl(0, 0%, 95%);;
}

.attribution {
    font-size: 11px;
    text-align: center;
  }
  .attribution a {
    color: hsl(228, 45%, 44%);
  }